# mac files
.DS_Store

# IDE configs
.vscode
*.idea

# gradle
*/gradle
*/*.gradle
*/build

# misc.
*/bin

# ignore executable created by g++ compiler
!day*.cpp

# remove all text files!
*.txt

# annoying pycache
**/__pycache__/